@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-white_light font-sans font-normal text-dark;
  }

  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #0f1c26 #094079;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 15px;
  }

  *::-webkit-scrollbar-track {
    background: #0f1c26;
    border-radius: 4px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #094079;
    border-radius: 14px;
    border: 3px solid #094079;
  }
}

@layer components {
}

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}
